<nav class="bg-black p-4 text-white shadow-lg">
    <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
<!--        <a href="{% url 'home' %}" class="text-2xl font-bold mb-4 md:mb-0">Twitter Clone</a>-->
            <a href="{% url 'home' %}" class="flex items-center justify-start p-3 rounded-full hover:bg-gray-800 w-fit">
                <svg class="w-8 h-8 text-white" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
                </svg>
            </a>


        <div class="flex flex-col md:flex-row items-center space-y-4 md:space-y-0 md:space-x-6 relative">
            {% if user.is_authenticated %}
                <div class="relative">
                    <button id="avatarButton" class="flex items-center space-x-2 focus:outline-none">
                        <span class="font-medium hidden md:inline">@{{ user.username }}</span>
                        {% if user.profile_picture and user.profile_picture.name %}
                        <img src="{{ user.profile_picture.url }}" alt="Avatar" class="w-12 h-12 rounded-full">
                        {% else %}
                        <img src="https://pbs.twimg.com/profile_images/1308769664240160770/AfgzWVE7_400x400.jpg" alt="Avatar" class="w-12 h-12 rounded-full">
                        {% endif %}
                    </button>

                    <!-- Dropdown -->
                    <div id="dropdownMenu" class="hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-2 text-black z-50">
                        <form action="{% url 'logout' %}" method="post" class="block w-full text-left">
                            {% csrf_token %}
                            <button type="submit" class="w-full px-4 py-2 hover:bg-gray-200">
                                Cerrar sesión
                            </button>
                        </form>
                    </div>
                </div>
            {% else %}
                <a href="#"
                   class="px-3 py-1 hover:bg-gray-800 rounded transition">
                    Iniciar Sesión
                </a>
                <a href="#"
                   class="bg-green-500 px-3 py-1 rounded hover:bg-green-600 transition">
                    Registrarse
                </a>
            {% endif %}
        </div>
    </div>
</nav>

<script>
    const avatarButton = document.getElementById('avatarButton');
    const dropdownMenu = document.getElementById('dropdownMenu');

    avatarButton.addEventListener('click', () => {
        dropdownMenu.classList.toggle('hidden');
    });

    document.addEventListener('click', (e) => {
        if (!avatarButton.contains(e.target) && !dropdownMenu.contains(e.target)) {
            dropdownMenu.classList.add('hidden');
        }
    });
</script>
